* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.6;
   background-color: rgba(0, 0, 0, 0.5);  /* Transparent black background */
   color: #fff;  /* Change text color to white for better contrast */
   overflow-x: hidden;
   position:relative;
}

.glass-effect {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0);  /* Transparent black background */
   backdrop-filter: blur(50px);      /* Apply blur effect to the background */
   padding: 20px;                    /* Optional: Adjust padding */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional: Adds a subtle shadow */
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   z-index: -1;            
}

/* header {
   background: linear-gradient(90deg, #4e306e, #093580);
   color: white;
   padding: 2rem 0;
   text-align: center;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
   animation: fadeInDown 1s ease-out;
}

header h1 {
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 0.5rem;
}

header p {
   font-size: 1.2rem;
} */

nav {
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   background: #e3dede;
   padding: 1rem 0;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   position: sticky;
   top: 0;
   z-index: 1000;
   animation: slideIn 1s ease-out;
}

nav a {
   color: #333;
   text-decoration: none;
   padding: 0.5rem 1rem;
   font-weight: 600;
   font-size: 1rem;
   transition: all 0.3s ease;
   position: relative;
}

nav a:hover {
   color: white;
   background: linear-gradient(90deg, #110d17, #69707c);
   border-radius: 5px;
}

nav a::after {
   content: "";
   position: absolute;
   width: 0;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #6a11cb;
   transition: width 0.3s ease;
}

nav a:hover::after {
   width: 100%;
}

section {
   padding: 4rem 2rem;
   text-align: center;
   opacity: 0;
   transform: translateY(50px);
   animation: fadeInUp 1s ease forwards;
}

section:nth-child(odd) {
   background: #5f5b5b9f;
}

section h2 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: #6b11cbd6;
   animation: fadeInScale 0.8s ease-out;
}

/* section p {
   font-size: 1.1rem;
   color: #555;
   max-width: 800px;
   margin: 0 auto 2rem;
} */

.hero-section {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2rem;
   max-width: 1200px;
   margin: auto;
}

.hero-text {
   flex: 1;
   padding-right: 2rem;
}

.hero-text h1 {
   font-size: 3rem;
   color: #000000;
}

.hero-text p,section p {
   font-size: 1.2rem;
   color: #e5e6e9;
   margin: 1rem 0;
}

.hero-text a {
   display: inline-block;
   margin-right: 1rem;
   padding: 0.8rem 1.5rem;
   text-decoration: none;
   color: white;
   background: linear-gradient(90deg, #521d8a, #2575fc);
   border-radius: 5px;
   font-weight: bold;
   transition: background 0.3s ease;
}

.hero-text a:hover {
   background: linear-gradient(90deg, #2575fc, #6a11cb);
}

.hero-image {
   flex: 1;
   position: relative;
   max-width: 500px;
}

.hero-image img {
   width: 100%;
   border-radius: 10px;
   clip-path: circle(50% at 50% 50%);
   filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}

.hero-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('https://cdn.pixabay.com/photo/2023/03/09/09/27/color-splash-7840430_1280.png');
   background-size: cover;
   background-position: center;
   mix-blend-mode: multiply;
   opacity: 0.8;
   z-index: -1;
   clip-path: circle(50% at 50% 50%);
}

#skills {
   margin: 2rem auto;
   padding: 2rem;
   max-width: 1200px;
}

.skills-heading {
   text-align: center;
   font-size: 1.8rem;
   /* color: #6a11cb; */
   margin-top: 2rem;
}

.skills-subheading {
   font-size: 1.4rem;
   color: #4e54c8;
   margin: 1.5rem 0 0.5rem;
}

.skills-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 1rem;
   margin-top: 1rem;
}

.skill-card {
   background: linear-gradient(to bottom, #ffffff, #f0f0f0);
   border-radius: 10px;
   padding: 1rem;
   text-align: center;
   width: 100%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   animation: fadeIn 1s ease;
}

.skill-card img {
   width: 48px;
   height: 48px;
   margin-bottom: 0.5rem;
   animation: bounce 2s infinite;
}

.skill-card h3 {
   font-size: 1rem;
   color: #333;
}

.skill-card:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Project Section Styles */
.projects-section {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.project {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.project.right {
   flex-direction: row;
}

.project.left {
   flex-direction: row-reverse;
}

.project-content {
   width: 45%;
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-content h3 {
   margin: 0;
   font-size: 1.2em;
   color: #333;
}

.project-content p {
   margin: 10px 0;
   font-size: 0.9em;
}

.project-content img {
   height: 24px;
   margin-right: 8px;
}

.project-content a {
   color: #007bff;
   text-decoration: none;
   font-weight: bold;
}

.project-content a:hover {
   text-decoration: underline;
}

/* achievements section */
#achievements {
   background: linear-gradient(130deg, #170d2f77, #bdbfdd);
   padding: 4rem 2rem;
   /* border-radius: 15px; */
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   color: white;
   margin: 2rem auto;
   max-width: 1200px;
   opacity: 0;
   transform: translateY(50px);
   animation: fadeInUp 1s ease forwards;
}

#achievements h2 {
   font-size: 2.5rem;
   color: #fff;
   margin-bottom: 2rem;
   letter-spacing: 2px;
   animation: fadeInScale 0.8s ease-out;
}

#achievements p {
   font-size: 1.2rem;
   line-height: 1.6;
   color: #f9f9f9;
   margin-bottom: 1rem;
   transition: transform 0.3s ease, color 0.3s ease;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 10px;
}

#achievements p:hover {
   transform: translateY(-5px);
   background-color: rgba(0, 0, 0, 0.3);
}

#achievements p strong {
   font-weight: 600;
   font-size: 1.3rem;
}

#achievements p span {
   font-weight: 300;
   color: #ffeb3b;
}

/* Keyframe animations for various elements */
@keyframes fadeIn {
   from {
       opacity: 0;
       transform: translateY(10px);
   }
   to {
       opacity: 1;
       transform: translateY(0);
   }
}

@keyframes bounce {
   0%, 100% {
       transform: translateY(0);
   }
   50% {
       transform: translateY(-10px);
   }
}

@keyframes fadeInUp {
   0% {
       opacity: 0;
       transform: translateY(50px);
   }
   100% {
       opacity: 1;
       transform: translateY(0);
   }
}

@keyframes fadeInDown {
   0% {
       opacity: 0;
       transform: translateY(-50px);
   }
   100% {
       opacity: 1;
       transform: translateY(0);
   }
}

@keyframes slideIn {
   0% {
       opacity: 0;
       transform: translateX(-100%);
   }
   100% {
       opacity: 1;
       transform: translateX(0);
   }
}

@keyframes fadeInScale {
   0% {
       opacity: 0;
       transform: scale(0.8);
   }
   100% {
       opacity: 1;
       transform: scale(1);
   }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
   header h1 {
       font-size: 2.5rem;
   }

   section {
       padding: 2rem;
   }

   nav {
       flex-direction: column;
       display:block;
   }

   .hero-section {
       /* flex-direction: column; */
       text-align: center;
   }

   .hero-text {
       padding-right: 0;
   }

   .hero-image img {
       max-width: 100%;
       
   }

   #skills h2 {
       font-size: 2rem;
   }

   .skills-container {
       grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   }

   .skill-card img {
       width: 50px;
       height: 50px;
   }
}